/* Padding REM */

.zamel-p-1 {
    padding: 1rem;
}

.zamel-p-1_5 {
    padding: 1.5rem;
}

.zamel-p-2 {
    padding: 2rem;
}

.zamel-p-3 {
    padding: 3rem;
}

/* Padding EM */

.zamel-p-0_25em {
    padding: 0.25em;
}

.zamel-p-0_5em {
    padding: 0.5em;
}

.zamel-p-1em {
    padding: 1em;
}

.zamel-p-1_5em {
    padding: 1.5em;
}

.zamel-p-2em {
    padding: 2em;
}

.zamel-p-5em {
    padding: 5em;
}

/* Padding Horizontal */

.zamel-px-0 {
    padding-inline: 0;
}

/* Padding Horizontal REM */

.zamel-px-3 {
    padding-inline: 3rem;
}

/* Padding Horizontal EM */

.zamel-px-1em {
    padding-inline: 1em;
}

.zamel-px-2em {
    padding-inline: 2em;
}

.zamel-px-3em {
    padding-inline: 3em;
}

/* Padding Vertical REM */

.zamel-py-1 {
    padding-block: 1rem;
}

.zamel-py-2 {
    padding-block: 2rem;
}

.zamel-py-3 {
    padding-block: 3rem;
}

.zamel-py-4 {
    padding-block: 4rem;
}

/* Padding Vertical EM */

.zamel-py-1em {
    padding-block: 1em;
}

.zamel-py-1_5em {
    padding-block: 1.5em;
}

.zamel-py-2em {
    padding-block: 2em;
}

/* Padding Top REM */

.zamel-pt-4 {
    padding-block-start: 4rem;
}

/* Padding Bottom REM */

.zamel-pb-3 {
    padding-block-end: 3rem;
}

.zamel-pb-6 {
    padding-block-end: 6rem;
}

/* Padding Bottom EM */

.zamel-pb-0_25em {
    padding-block-end: 0.25em;
}
