.zamel-input-spinner {
    border: max(0.0625em, 1px) solid var(--zamel-c-black);
    display: flex;
    inline-size: min-content;
}

.zamel-input-spinner-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: var(--zamel-fw-bold);
    inline-size: 2em;
    padding: 0;
}

.zamel-input-spinner-number {
    -moz-appearance: textfield;

    background-color: transparent;
    border: 0;
    inline-size: 100%;
    min-inline-size: 2em;
    padding: 0.5em;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
