.zamel-tree {
    font-size: var(--zamel-fs-s);
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    & ul {
        display: none;
        inline-size: 100%;
        padding-inline-start: 3.5em;
    }

    & li {
        align-items: baseline;
        column-gap: 0.5em;
        display: flex;
        flex-wrap: wrap;
        padding-block: 0.25em;
        position: relative;

        &::before {
            border-inline-start: max(0.0625em, 1px) solid var(--zamel-c-black);
            bottom: 0;
            content: '';
            left: 0.4375em;
            position: absolute;
            top: 0;
            z-index: 0;
        }

        &:first-child {

            &::before {
                top: 0.5em;
            }
        }

        &:last-child {

            &::before {
                block-size: 0.95em;
                bottom: auto;
            }

            & .zamel-tree-checkbox {

                &:checked {

                    & ~ ul {
                        overflow: hidden;
                        position: relative;

                        &::before {
                            border-inline-start: max(0.0625em, 1px) solid var(--zamel-c-black);
                            bottom: auto;
                            content: '';
                            block-size: 100em;
                            left: 0.5em;
                            margin-block-start: -98.575em;
                            position: absolute;
                            top: 0;
                            z-index: 0;
                        }
                    }
                }
            }
        }
    }

    & > li {

        & > a {
            font-weight: var(--zamel-fw-bold);
        }
    }

    & .zamel-form-checkbox {
        transform: translate3d(0, 0.1875em, 0); /* Adjust position */

        &:checked {

            & ~ ul {
                display: block;
                font-size: 0.8571428571428571em;
                padding-block: 0.5em;

                & li {

                    &::before {
                        left: -1em;
                    }

                    &::after {
                        border-block-start: max(0.0625em, 1px) solid var(--zamel-c-black);
                        content: '';
                        left: -1em;
                        position: absolute;
                        top: 0.875em;
                        inline-size: 1em;
                        z-index: 0;
                    }

                    &:first-child {

                        &::before {
                            top: 0.9em;
                        }

                        &::after {
                            inline-size: 3em;
                            left: auto;
                            right: 100%;
                        }
                    }

                    &:last-child {

                        &::before {
                            block-size: 0.875em;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}
