*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: var(--zamel-html-fs);
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    container-type: inline-size;
    margin: 0;
    position: relative;
    z-index: 1;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
    line-height: inherit;

    &:disabled {
        cursor: not-allowed;
    }
}

button {
    cursor: pointer;
}

select {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

address {
    font-style: normal;
}

dl {
    margin-block: 0;
}

dd {
    margin-inline-start: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-block: 0;
}

img {
    block-size: auto;
    display: block;
    max-inline-size: 100%;
    object-fit: contain;
}

label[for] {
    cursor: pointer;
}

p {
    margin-block: 0;
}

picture {
    display: block;
}

svg {
    block-size: auto;
    display: inline-flex;
    max-inline-size: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
}
