.zamel-block {
    display: block;
}

.zamel-relative {
    position: relative;
}

.zamel-absolute {
    position: absolute;
}

.zamel-sticky {
    position: sticky;
    top: 0;
}

.zamel-fixed {
    position: fixed;
}

.zamel-top {
    top: 0;
}

.zamel-top-auto {
    top: auto;
}

.zamel-top-full {
    top: 100%;
}

.zamel-left {
    left: 0;
}

.zamel-left-auto {
    left: auto;
}

.zamel-left-14_5p {
    left: 14.5%;
}

.zamel-left-full {
    left: 100%;
}

.zamel-right {
    right: 0;
}

.zamel-right-auto {
    right: auto;
}

.zamel-right-full {
    right: 100%;
}

.zamel-bottom {
    bottom: 0;
}

.zamel-bottom-auto {
    bottom: auto;
}

.zamel-bottom-12p {
    bottom: 12%;
}

.zamel-bottom-full {
    bottom: 100%;
}

.zamel-z-index {
    z-index: 1;
}

.zamel-z-index-2 {
    z-index: 2;
}
